# ----- Для локального запуска тестов -----
# Публикуемые порты (должны совпадать с портами для локального подключения)
REDIS_PUBLISHED_PORT=6380
ELASTICSEARCH_PUBLISHED_PORT=9201
FASTAPI_PUBLISHED_PORT=8002

# Хост для подключения (localhost, так как тесты на хосте)
REDIS_HOST=localhost
# Для подключения к Redis используем тот же порт, что и REDIS_PUBLISHED_PORT
REDIS_PORT=6380

ELASTICSEARCH_HOST=localhost
ELASTICSEARCH_PORT=9201
ELASTICSEARCH_SCHEMA=http://
ELASTICSEARCH_INDEX=movies

# URL FastAPI на хосте
FASTAPI_URL=http://localhost:8002

LOG_LEVEL=INFO

## Настройки основные
AUTH_SERVER_HOST=movies-auth-service
AUTH_SERVER_PORT=8002
AUTH_JWT_SECRET_KEY=your-strong-secret-key
AUTH_JWT_ALGORITHM=HS256
AUTH_SUPERUSER_LOGIN=admin
AUTH_SUPERUSER_PASSWORD=strong-password
AUTH_DEBUG=true