# Имена хостов внутри сети Docker (для связи между контейнерами)
REDIS_HOST=movies-redis-test
REDIS_PORT=6379
ELASTICSEARCH_HOST=movies-elasticsearch-test
ELASTICSEARCH_INDEX=movies
FASTAPI_URL=http://movies-films-search-service-test:8001

# Публикуемые порты на хосте (для доступа с хоста, например, для отладки)
REDIS_PUBLISHED_PORT=6380
ELASTICSEARCH_PUBLISHED_PORT=9201
FASTAPI_PUBLISHED_PORT=8002

# Общие настройки
LOG_LEVEL=INFO

## Настройки основные
AUTH_SERVER_HOST=movies-auth-service
AUTH_SERVER_PORT=8002
AUTH_JWT_SECRET_KEY=your-strong-secret-key
AUTH_JWT_ALGORITHM=HS256
AUTH_SUPERUSER_LOGIN=admin
AUTH_SUPERUSER_PASSWORD=strong-password
AUTH_DEBUG=true